.fa{
    font-size: 1.1rem;
}
.fa-title{
    font-size: 2.2rem;
}

.cardAdmin p{
    font-size: 3rem;
}
.cardAdmin .cardTitle{
    text-transform: uppercase;
}
.nav-link{
    color: rgb(59, 56, 56);
}
li .nav-link.active{
    background-color: #30A5FF;
    color: #fff;
}