<!-- Calling GoogleAuth() Api from AuthService -->
<!-- <div class="formGroup">
    <button type="button" (click)="authService.GoogleAuth()">
      Log in with Google
    </button>
  </div> -->
  <body>
      
  <div class="wrapper">
      <top-navbar></top-navbar>
    <form class="login">
      <p class="title">Log in</p>
      <div class="container" (click)="authCalled()">
        <div class="row">
          <p><i class="fa fa-google"></i> Join Us With Google</p>
        </div>
    </div>
      <button>
        <i class="spinner"></i>
        <span class="state">Log in</span>
      </button>
    </form>
  </div>
</body>
