  <body>
  <div class="wrapper">
    <top-navbar></top-navbar>
  <form class="login">
    <p class="title">Just a few touchups...</p>
    <div class="container" >
      <div class="row py-2">
        <label class="my-2" for="userType">Chose Material of house:</label>
        <select  name="userType" class="btn btn-primary dropdown-toggle" id="userType" required>
            <option class="dropdwn" value="Wood">Wood</option>
            <option class="dropdwn" value="Cement">Cement</option>
            <option class="dropdwn" value="Stone">Stone</option>
            <option class="dropdwn" value="Stucco">Stucco</option>
            <option class="dropdwn" value="Hardiplank">Hardiplank</option>
          </select>
        <label class="my-2" for="userType">Chose Workers:</label>
          <select  name="userType" class="btn btn-primary dropdown-toggle " id="userType" required>
            <option class="dropdwn" value="Carpenter Ants">Carpenter Ants</option>
            <option class="dropdwn" value="Bulldog Ants">Bulldog Ants</option>
            <option class="dropdwn" value="Fire Ants">Fire Ants</option>
            <option class="dropdwn" value="Red Ants">Red Ants</option>
          </select>
      </div>
  </div>
    <button >
      <i class="spinner"></i>
      <span class="state" >Log in</span>
    </button>
  </form>
</div>
</body>
