<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 navbar-scrolled" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" routerLinkActive="active" routerLink="/home" style="color:#535b5e;">
      TermiteFabrications
    </a>
      <!-- <a class="navbar-brand js-scroll-trigger" routerLink="/home" style="display: none;"> -->
      <!-- </a> -->
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive" style="margin-left:35%;">
          <ul class="navbar-nav ml-auto my-2 my-lg-0">
              <li class="nav-item"><a class="nav-link js-scroll-trigger" routerLinkActive="active" routerLink="/home">Home</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" routerLinkActive="active" routerLink="/about">About Us</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" routerLinkActive="active" routerLink="/contact">Contact Us</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" routerLinkActive="active" routerLink="/buildHome">Build Home</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" routerLinkActive="active" routerLink="/dashboard">My Account</a></li>
          </ul>
      </div>
  </div>
</nav>
